Cuenta TimeOff.Management para {{#with new_user }}{{this.full_name}}{{/with}}
=====
<p>Hola <strong>{{new_user.name}}</strong>,</p>

<p><strong>{{#with admin_user}}{{this.full_name}}{{/with}}</strong> acaba de registrar una cuenta para ti como empleado de <strong>{{company.name}}</strong>.</p>

<p>Por favor, contacta <strong>{{admin_user.name}}</strong> para saber tu usuario y contraseña en {{> email/link href=(get_application_domain) text="TimeOff.Management" }}</p>

<p>Alternatively follow the link below to set a new password:

{{# with new_user ~}}
{{> email/link href=(concatenate (get_application_domain) '/reset-password/?t=' (this.get_reset_password_token)) text='Set new password'}}
{{/ with }}

</p>

<p>Gracias</p>
